<% if resource.errors.any? %>
  <div class="alert-error">
    <h1 class="error-title-up"> Error</h1>
    <h2 class="error-title"> There is an error while creating your account:</h2>
    <div>
      <% resource.errors.full_messages.each do |message| %>
        <div class="error-message"><%= message %></div>
      <% end %>
    </div>
  </div>
<% end %>
