@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

 /*
 *= require_tree .
 *= require_self
 */
@import "login";
@import "homepage";
@import "category";

body {
  background-color: #06283D;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  position: absolute;
  margin: 300px auto;
  left: 0;
  right: 0;
}

textarea:focus, input:focus{
  outline: none;
}

.alerts {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.alert {
  text-align: center;
  background-color: #F8AEAE;
  color: #A6696E;
  width: 25%;
  position: absolute;
  margin: 30px auto;
  left: 0;
  right: 0;
  border-radius: 10px;
  border-color: #A6696E;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9FAE7;
  color: #6BAA8B;
  width: 25%;
  height: 50px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 10px;
  border-color: #6BAA8B;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

// Show Specific Category

// <div class="body-buttons">
//   <div class="edit-icon"><%= link_to 'Edit'.html_safe, edit_category_path(@category) %></div>
//   <div class="delete-icon"><%= link_to 'Delete'.html_safe, @category, method: :delete %></div>
// </div>
.category-show-id {
  color: #DFF6FF;
}

.category-id-bottom {
  display: flex;
  color: #DFF6FF;
}

.category-id-tasks {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.category-show-list {
  display: flex;
  flex-direction: column;
}

// Show Specific Tasks
.task-id-id {
  display: flex;
  flex-direction: column;
  color: #DFF6FF;
}

.task-id-top {
  display: flex;
  flex-direction: row;
}

.task-id-bottom {
  display: flex;
}

.task-id-list {
  display: flex;
  flex-direction: column;
}

.task-id-parts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Show All Tasks

.task-all-top {
  display: flex;
  flex-direction: row;
}