
.icon {
  height: 70px;
  width: 70px;
}

.header {
  font-size: 20px;
  font-weight: bold;
  color: #DFF6FF;
  margin: 10px 0px 10px 0px;
  font-family: 'Inter', sans-serif;
}

.email {
  padding: 10px 15px 0px 15px;
}

.emailLabel {
  font-size: 11px;
  color: #DFF6FF;
  font-family: 'Inter', sans-serif;
}

.emailInput {
  border: none;
  border-bottom: 1px solid #DFF6FF;
  background-color: inherit;
  color: #DFF6FF;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}
.password {
  padding: 5px 15px 10px 15px;
}

.passLabel {
  font-size: 11px;
  color: #DFF6FF;
  font-family: 'Inter', sans-serif;
}

.passInput {
  border: none;
  border-bottom: 1px solid #DFF6FF;
  background-color: inherit;
  color: #DFF6FF;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}

.submit {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
}

.button {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
  color: #DFF6FF;
  background-color: #1363DF;
  font-family: 'Inter', sans-serif;
}

.button:hover {
  background-color: #47B5FF;
  color: #DFF6FF;
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
}

.links {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.sup:link, .for:link, .sup:visited, .for:visited {
  text-decoration: none;
  color: #DFF6FF;
  font-size: 11px;
  font-family: 'Inter', sans-serif;
}

.sup:hover, .for:hover {
  text-decoration: none;
  color: #1363DF;
  font-family: 'Inter', sans-serif;
}